.column {
    float: left;
}
.row {
	border-bottom: 1px solid #181818;
	padding-bottom: 10px;

}
.anno_left {
    width: 85%;

}
.anno_right {
    width: 15%;
    word-wrap:break-word;
    margin-top: 10%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.listbutton {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #1c00ac;
  margin-top: .5em;
  margin-bottom: .5em;
  border: none;
  color: white;
  padding: 6px 7px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.container {
	max-width: none;
}
.prose p, .prose ol, .prose ul {
	width: 100%;
}

#mirador_container > button {
  opacity: 1;
  position:relative;
  float: left;
  left:14px;
  bottom:79px;
}

#anno_button {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  border: none;
  text-decoration: none;
  font-size: 18px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
}
@media (min-width: 46.25rem){
}

#storyboard_viewer > div {
  width: 100%;
}

.main-content {
  max-width: none;
}

#container {
  padding-right: 20px;
}

.page-header {
  display: none;
}

.container {
  padding: 20px;
}
.container > * {
  max-width: none;
}

button {
  padding: 0px;
}

.seadragonbox {
  width: 98%;
}

.site-title {
  font-size: 2.25rem;
}


.row {
  padding-bottom: 2em;
}

#storyboard_viewer {
  padding-top: 0px;
}

img {
  display: inline-block;
  margin: 0;
}

#annotation.active {
  left: 20px;
  width: 18%;
}

.wrapper {
  max-width: none;
}

form[method="get"] {
  display: none!important;
}

.site-header {
  display: none;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 12px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 220%;
  font-size: 10px;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

textarea {
  width: 100%;
}

.copybutton {
  border: none;
  background-color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 1px 2px;
  cursor: pointer;
}

@media only screen and (min-width: 46.25rem) {
.side-bar {
    width: 17%;
    min-width: 0px;
  }
  .main-content {
  	margin-left: calc(17%);
  }
}

.page-content ul li::before {
	content: "";
}

.navigation, .site-title, .site-footer {
  width: auto;
}

.storyboard_viewer .annotation {
  max-width: 98%;
}

input, select, textarea{
  color: black;
}

* {
  box-sizing : content-box;
}

iiif-annotation * {
  white-space: normal !important
}

.all_results {
  box-sizing: border-box;
}
