
<div id="anno_results"></div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/jscript">
  var canvas_regex = /.+canvas\/([^.]+)/;


  $(document).ready(function(){
    localStorage.clear();
  	{% for annotation in site.annotations %}
  		{% if annotation.path contains 'list' %}
      var annotationresources = {{annotation}}.resources
        for (var i=0; i < annotationresources.length; i++){
          for (var e=0; e < annotationresources[i].resource.length; e++){
            var new_chars = ""
            var chars = JSON.stringify(annotationresources[i]['resource'][e]['chars'])
            var text = _.compact(chars.slice(1,-1).split("</p>"))
            if (text != null && text.length > 0){
              for (var j=0; j<text.length; j++){
                var get_text = text[j].split("<p>")
                new_chars += "<p>" + _.escape(get_text.slice(-1)) + "</p>"
              }
            }
          annotationresources[i]['resource'][e]['chars'] = new_chars;
          }
        }
  			var json = JSON.stringify(annotationresources)
  			var url = {{annotation}}.resources[0].on[0].full
  			localStorage.setItem(url, json)
  		{% endif %}
  	{% endfor %}
    $( "#anno_button" ).click(function() {
      $( "#anno_results" ).empty()
      $("#anno_button").prop("disabled", true).css({"background-color": "grey"})
      $("body").prepend('<div id="overlay" style="width: 100%; height: 100%; opacity: .4;"><i class="fa fa-spinner fa-spin" style="text-align: center;vertical-align: center;position: fixed;top: 50%;left: 50%; opacity: 1; color: white; font-size: 200px;"></i></div>');
      $("#overlay").css({"background-color": "black","z-index": "9999999","position": "fixed"})
        create_items('{{site.api_server}}')
      $(document).ajaxStop(function() {
            $("#overlay").remove()
            $("#anno_button").prop("disabled", false).removeAttr("style")
      })


    });
 });
</script>
