
<div id="anno_results"></div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/jscript">
  var canvas_regex = /.+canvas\/([^.]+)/;


  $(document).ready(function(){
    localStorage.clear();
  	{% for annotation in site.annotations %}
  		{% if annotation.path contains 'list' %}

  			var json = JSON.stringify({{annotation}}.resources)
  			var url = {{annotation}}.resources[0].on[0].full
  			localStorage.setItem(url, json)
  		{% endif %}
  	{% endfor %}
    $( "#anno_button" ).click(function() {
      $( "#anno_results" ).empty()
        create_items('{{site.api_server}}')
    });
 });
</script>
