<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://unpkg.com/vue"></script>

<script type="text/javascript" src="{{ "/assets/js/iiif-annotation.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/local-functions.js" | absolute_url }}"></script>

<link rel="stylesheet" href="{{ "/assets/css/iiif-annotation.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/css/iiif-server.css" | absolute_url }}">
