<div id="menu-bars"><button onclick="toggleSidebar(this)" value="false" id="menubutton"><i class="fas fa-bars"></i></button></div>
<div class="menu-items sidebar" id="sidebar">
{% assign sorted_pages = site.pages | sort: 'weight'%}
{% for node in sorted_pages %}
  {% if node.menu != false %}
    {% if node.menu or node.title %}
      {% unless node.parent %}
        <a class="mdl-navigation__link parent{% if node.url == page.url or page.parent and page.parent == node.path %} is-active{% endif %}" href="{{ node.url | absolute_url }}"{% if node.tab %} target="_blank"{% endif %}>{% if node.menu %}{{ node.menu }}{% else %}{{ node.title }}{% endif %}</a></li>
        {% if site.menu_style != 'dropdown' or node.url == page.url or page.parent and page.parent == node.path %}
          {% for child in sorted_pages %}
            {% if child.menu != false %}
              {% if child.menu or child.title %}
                {% if child.parent %}
                  {% if child.parent == node.path or child.parent == node.id %}
                    <a class="mdl-navigation__link child{% if child.url == page.url %} is-active{% endif %}" href="{{ child.url | absolute_url }}"{% if child.tab %} target="_blank"{% endif %}>{% if child.menu %}{{ child.menu }}{% else %}{{ child.title }}{% endif %}</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endif %}
{% endfor %}
</div>
<style>
#menu-bars {
  display: block;
}
#sidebar {
  left: 0em;
  color: #aaa;
  padding-top: 0em;
  margin-top: 0em;
  margin-left: 0em;
  float: left;
  position: absolute;
  width: 19em;
  position: fixed;
  background-color: #214972;
  box-shadow: 7px 0px 20px 0px rgba(50, 50, 50, 0.75);
  transition-duration: 0.3s;
  float: left;
  position: absolute;
  height: 100%;
  z-index: 9998;
}

.element:hover {
  color: #aa7777;
  transition-duration: 0.3s;
}

h2 {
  transition-duration: 0.3s;
  font-size: 200%;
  font-weight: bolder;
}

#header {
  background-color: #214972;
  position: fixed;
  height: 4em;
  width: 100%;
  transition-duration: 0.3s;
  top: -5em;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.55);
  z-index: 9997;
}

#content {
  position: fixed;
  height: 100%;
  max-width: 860px;
  padding-left: 22em;
  padding-right: 2em;
  padding-bottom: 2em;
  margin-top: 1em;
  overflow: scroll;
  transition-duration: 0.3s;
}

p {
  font-size: 1.25em;
}

.link {
  text-decoration: none;
}

#toggle {
  display: none;
}

@media(max-width:800px) {
  #content {
    padding-left: 2em;
    margin-top: 5em;
    transition-duration: 0.3s;
  }
  #header {
    top: 0em;
    transition-duration: 0.3s;
  }
}

.nav-elements {
  list-style-type: none;
}

.element {
  margin: 0em;
  font-size: 150%;
  line-height: 2em;
  width: 100%;
  color: #eee;
  transition-duration: 0.3s;
}

.name,
.element {
  color: #eee;
}

.btxt {
  color: #111;
}

.toggle {
  position: relative;
}
</style>
<script>
  function toggleSidebar() {
    var toggle = document.getElementById("sidebar").style.left;
    if (toggle != "0em") {
      document.getElementById("sidebar").style.left = "0em";
    } else {
      document.getElementById("sidebar").style.left = "-19em";
    }
  }

window.onresize = function rs() {
  if (window.matchMedia("(max-width: 800px)").matches) {
    document.getElementById("sidebar").style.left = "-20em";
  }
  if (window.matchMedia("(min-width:800px)").matches) {
    document.getElementById("sidebar").style.left = "0em";
  }
  if (window.matchMedia("(min-width:800px)").matches) {
    document.getElementById("sidebar").style.left = "0em";

  }

}
</script>