---
layout: page
---

{% include head.html %}

{% for annotation in site.annotations %}
  	{% assign annoidsplit = annotation.id | split: '/'  %}
{% assign annoid = annoidsplit.last %}
{% capture url %}
{{site.url}}{{site.baseurl}}{{annotation.id}}.json
{% endcapture %}
<div class="row">
 {% if annotation.id contains 'list' %}
<div class="column anno_left">
	<iiif-annotation annotationlist="{{url | strip }}"></iiif-annotation>
</div>
<div class="column anno_right">
	<button id="{{annoid}}_button" class="listbutton" onclick="make_embed_code('{{annoid}}')">Show embed code</button>
	<div id="{{annoid}}_embedcode" style="display: none;">&lt;iiif-annotation annotationlist="{{url| strip }}"&gt;&lt;/iiif-annotation&gt;</div>
	<button id="{{annoid}}_edit" class="listbutton" onclick="delete_items('{{annoid}}', '{{site.api_server}}')">Delete</button>
</div>
{% else %}
<div class="column anno_left"><iiif-annotation annotationurl="{{url | strip }}"></iiif-annotation></div>
<div class="column anno_right">
	<button id="{{annoid}}_button" class="listbutton" onclick="make_embed_code('{{annoid}}')">Show embed code</button>
	<div id="{{annoid}}_embedcode" style="display: none;">&lt;iiif-annotation annotationurl="{{url| strip }}"&gt;&lt;/iiif-annotation&gt;</div>
	<button id="{{annoid}}_edit" class="listbutton" onclick="delete_items('{{annoid}}', '{{site.api_server}}')">Delete</button>
</div>
{% endif %}
</div>
{% endfor %}
