---
layout: default
---
{% if page.tags.length > 0 %}
tags: {{page.tags | join: "; "}}
{% endif %}
{{content}}
embed codes: 

<code>
&lt;iiif-annotation annotationurl="{{site.baseurl}}/annotations/{{page.slug}}.json"&gt;&lt;/iiif-annotation&gt;
<br>
&lt;iiif-storyboard annotationurl="{{site.baseurl}}/annotations/{{page.slug}}.json"&gt;&lt;/iiif-storyboard&gt;
<br>
&lt;iiif-storyboard annotationlist="{{site.baseurl}}/annotations/{{page.listname}}"&gt;&lt;/iiif-storyboard&gt;
</code>

<iiif-annotation annotationurl="http://0.0.0.0:4000/annotate/annotations/{{page.slug}}.json"></iiif-annotation>

<iiif-storyboard annotationlist="http://0.0.0.0:4000/annotate/annotations/{{page.listname}}"></iiif-storyboard>