---
layout: default
---
<table>
{% if page.tags and page.tags.size > 0 %}
<tr>
<td>Tags</td><td>{{page.tags | join: "; "}}</td>
</tr>
{% endif %}
{% if content %}
<tr>
<td>Content</td><td>{{content}}</td>
</tr>
{% endif %}
<tr>
<td>Annotations</td><td><a href="{{site.url}}{{site.baseurl}}/annotations/{{page.slug}}.json">{{site.url}}{{site.baseurl}}/annotations/{{page.slug}}.json</a><br>
<a href="{{site.url}}{{site.baseurl}}/annotations/{{page.listname}}">{{site.url}}{{site.baseurl}}/annotations/{{page.listname}}</a></td>
</tr>
<tr>
<td>Embed codes</td><td>
<code>
&lt;iiif-annotation annotationurl="{{site.url}}{{site.baseurl}}/annotations/{{page.slug}}.json"&gt;&lt;/iiif-annotation&gt;
<br>
&lt;iiif-storyboard annotationurl="{{site.url}}{{site.baseurl}}/annotations/{{page.slug}}.json"&gt;&lt;/iiif-storyboard&gt;
<br>
&lt;iiif-storyboard annotationlist="{{site.url}}{{site.baseurl}}/annotations/{{page.listname}}"&gt;&lt;/iiif-storyboard&gt;
</code>
</td>
</tr>
</table>

<iiif-annotation annotationurl="{{site.url}}{{site.baseurl}}/annotations/{{page.slug}}.json"></iiif-annotation>

<iiif-storyboard annotationlist="{{site.url}}{{site.baseurl}}/annotations/{{page.listname}}"></iiif-storyboard>