---
layout: default
---

{% for annotation in site.annotations %}
  	{% assign annoidsplit = annotation.id | split: '/'  %}
{% assign annoid = annoidsplit.last %}
{% capture url %}
{{site.url}}{{site.baseurl}}{{annotation.id}}.json
{% endcapture %}
 {% if annotation.id contains 'list' %}
<div class="row">
<div class="column anno_left">
	<iiif-storyboard annotationlist="{{url | strip }}"></iiif-storyboard>
</div>
<div class="column anno_right">
	<button id="{{annoid}}_button" class="listbutton" onclick="make_embed_code('{{annoid}}')">Show embed code</button>
	<div id="{{annoid}}_embedcode" style="display: none;">&lt;iiif-storyboard annotationlist="{{url| strip }}"&gt;&lt;/iiif-storyboard&gt;</div>
</div>
</div>
{% endif %}

{% endfor %}
